{% extends 'base.html' %}
{% block content %}
    {% include 'components/navbar.html' %}

        <div class="about-container-header">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716774299/Renaissance/pexels-nextvoyage-4061019_fnrpxt.jpg" alt="Renaissance Website Image">
            <div class="about-container-header-content">
                <div class="about-container-header-content-span">
                    <span>Home</span>
                    <span class="material-symbols-outlined">chevron_right</span>
                    <span>Blog</span>
                </div>
                <h2>Our Latest <br><span class="color-scheme reveal__text">Travel Article,</span> <br>News & Promo.</h2>
            </div>
        </div>

        <div class="secondary-blog-section">
            <div class="secondary-blog-section-container">
                <!---------Blog Box Start--------->
                <div class="secondary-blog-section-container-box">
                    <img class="secondary-blog-section-image" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716774294/Renaissance/pexels-paul-hoekman-3222424-9992569_xid47a.jpg" alt="Renaissance Website Image">

                    <div class="secondary-blog-section-container-box-content">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                    <a href="" class="black-general-button-container reveal__interval__bottom">
                        <label>READ MORE</label>
                        <img class="black-general-button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                    </a>
                </div>                
                <!---------Blog Box End--------->

                <!---------Blog Box Start--------->
                <div class="secondary-blog-section-container-box">
                    <img class="secondary-blog-section-image" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716774294/Renaissance/pexels-paul-hoekman-3222424-9992569_xid47a.jpg" alt="Renaissance Website Image">

                    <div class="secondary-blog-section-container-box-content">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                    <a href="" class="black-general-button-container reveal__interval__bottom">
                        <label>READ MORE</label>
                        <img class="black-general-button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                    </a>
                </div>                
                <!---------Blog Box End--------->

                <!---------Blog Box Start--------->
                <div class="secondary-blog-section-container-box">
                    <img class="secondary-blog-section-image" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716774294/Renaissance/pexels-paul-hoekman-3222424-9992569_xid47a.jpg" alt="Renaissance Website Image">

                    <div class="secondary-blog-section-container-box-content">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                    <a href="" class="black-general-button-container reveal__interval__bottom">
                        <label>READ MORE</label>
                        <img class="black-general-button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                    </a>
                </div>                
                <!---------Blog Box End--------->

                <!---------Blog Box Start--------->
                <div class="secondary-blog-section-container-box">
                    <img class="secondary-blog-section-image" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716774294/Renaissance/pexels-paul-hoekman-3222424-9992569_xid47a.jpg" alt="Renaissance Website Image">

                    <div class="secondary-blog-section-container-box-content">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                    <a href="" class="black-general-button-container reveal__interval__bottom">
                        <label>READ MORE</label>
                        <img class="black-general-button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                    </a>
                </div>                
                <!---------Blog Box End--------->

                <!---------Blog Box Start--------->
                <div class="secondary-blog-section-container-box">
                    <img class="secondary-blog-section-image" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716774294/Renaissance/pexels-paul-hoekman-3222424-9992569_xid47a.jpg" alt="Renaissance Website Image">

                    <div class="secondary-blog-section-container-box-content">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                    <a href="" class="black-general-button-container reveal__interval__bottom">
                        <label>READ MORE</label>
                        <img class="black-general-button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                    </a>
                </div>                
                <!---------Blog Box End--------->

                <!---------Blog Box Start--------->
                <div class="secondary-blog-section-container-box">
                    <img class="secondary-blog-section-image" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716774294/Renaissance/pexels-paul-hoekman-3222424-9992569_xid47a.jpg" alt="Renaissance Website Image">

                    <div class="secondary-blog-section-container-box-content">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                    <a href="" class="black-general-button-container reveal__interval__bottom">
                        <label>READ MORE</label>
                        <img class="black-general-button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                    </a>
                </div>                
                <!---------Blog Box End--------->
            </div>
        </div>

        <div class="footer-banner">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716749986/Renaissance/1006_zbksfz.jpg" alt="Renaissance Website Image">
            <div class="footer-banner-content">
                <h3>Get Closer With Us & Get Special Promo</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                <a href="">CONTACT US</a>
            </div>
        </div>
    
    {% include 'components/footer.html' %}
{% endblock %}