{% extends 'base.html' %}
{% block content %}
    {% include 'components/navbar.html' %}
    {% include 'components/notification.html' %}
        <div class="about-container-header">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716774299/Renaissance/pexels-nextvoyage-4061019_fnrpxt.jpg" alt="Renaissance Website Image">
            <div class="about-container-header-content">
                <div class="about-container-header-content-span">
                    <span>Home</span>
                    <span class="material-symbols-outlined">chevron_right</span>
                    <span>Blog</span>
                </div>
                <h2>Our Latest <br><span class="color-scheme reveal__text">Travel Article,</span> <br>News & Promo.</h2>
            </div>
        </div>

        <div class="secondary-blog-section">
            <div class="secondary-blog-section-container">
                {% for blog in blogs  %}
                <!---------Blog Box Start--------->
                <div class="secondary-blog-section-container-box">
                    <img class="secondary-blog-section-image" src="https://res.cloudinary.com/renaissance-images/image/upload/{{ blog.file }}" alt="{{ blog.alt }}">

                    <div class="secondary-blog-section-container-box-content">
                        <h2>{{ blog.title }}</h2>
                        <p>{{ blog.content[0:350] | safe }}</p>
                    </div>

                    <a href="{{ url_for('post', id=blog.id, title=blog.title) }}" class="black-general-button-container reveal__interval__bottom">
                        <label>READ MORE</label>
                        <img class="black-general-button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                    </a>
                </div>                
                <!---------Blog Box End--------->
                {% endfor %}
            </div>
        </div>

        <div class="footer-banner">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716749986/Renaissance/1006_zbksfz.jpg" alt="Renaissance Website Image">
            <div class="footer-banner-content">
                <h3>Get Closer With Us & Get Special Promo</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                <a href="">CONTACT US</a>
            </div>
        </div>
    
    {% include 'components/footer.html' %}
{% endblock %}