{% extends 'base.html' %}
{% block content %}
    {% include 'components/navbar.html' %}
    {% include 'components/notification.html' %}
    {% include 'components/popup.html' %}
        <div class="about-container-header">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716749986/Renaissance/1006_zbksfz.jpg" alt="Renaissance Website Image">
            <div class="about-container-header-content">
                <div class="about-container-header-content-span reveal__top">
                    <span>Home</span>
                    <span class="material-symbols-outlined">chevron_right</span>
                    <span>Destination Details</span>
                </div>
                <h2 class="reveal__bottom">{{ destination.location }},<br> <span class="color-scheme reveal__text">{{ destination.country }}.</span></h2>
                <p class="reveal__right">{{ destination.location }},<br>{{ destination.content[0:150] | safe }}</p>
            </div>
        </div>

        <div class="detination-details-content-header">
            <h2>Renaissance <span class="color-scheme reveal__text">Tours Africa</span></h2>
            <p>Embark on Unforgettable Journeys Through Africa's Hidden Treasures</p>
        </div>

        <div class="detination-details-content">
            <div class="detination-details-content-image">
                {% if destination.file %}
                    <img class="content-imgs" src="https://res.cloudinary.com/renaissance-images/image/upload/{{ destination.file }}" alt="{{ destination.alt }}">
                {% endif %}
                <div class="tourism-pricing">
                    <span class="material-symbols-outlined">attach_money</span>
                    <span class="tourism-pricing-text">{{ destination.cost }}</span>
                </div>
            </div>

            <div class="detination-details-content-details">
                <h2>{{ destination.location }}</h2>
                <span>{{ destination.country }}</span>
                
                <p>{{ destination.content | safe }}</p>

                <!--<a href="#" class="black-general-button-container reveal__right">
                    <label>BOOK A SPACE</label>
                    <img class="black-general-button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                </a>-->

                <form method="POST">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="name" value="{{ current_user.last_name }} {{ current_user.first_name }} {{ current_user.middle_name }}">
                    <input type="hidden" name="email" value="{{ current_user.email }}">

                    <!--Payment Information-->
                    <input type="hidden" name="title" value="{{ destination.title }}">
                    <input type="hidden" name="location" value="{{ destination.location }}">
                    <input type="hidden" name="country" value="{{ destination.country }}">
                    <input type="hidden" name="cost" value="{{ destination.cost }}">
                    <button class="black-general-button-container button-extra reveal__right">
                        <label>BOOK A SPACE</label>
                        <img class="black-general-button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                    </button>
                </form>
            </div>
        </div>

        <div class="filter-section">
            <div class="filter-section-header">
                <h2 class="reveal__left">Check Out <span class="color-scheme reveal__text">The Best Travel Choice</span> in Africa</h4>
                <span class="secondary-text reveal__right">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</span>
            </div>

            <div class="destination-list">
                {% for destination in destinations[0:4] %}
                <!--Destination Box Start-->
                    <div class="destination-list-box">
                        {% if destination.file %}
                            <img src="https://res.cloudinary.com/renaissance-images/image/upload/{{ destination.file }}" alt="{{ destination.alt }}">
                        {% endif %}
                        
                        <a href="{{ url_for('destination_details', id=destination.id, name=destination.title) }}" class="overlay-url">
                            <span class="span-text-btn">LEARN MORE</span>
                            &nbsp;&nbsp;
                        </a>
                        
                        <div class="destination-list-box-content">
                            <div class="destination-list-box-content-details">
                                <h4>{{ destination.country }}</h4>
                                <div class="destination-list-box-content-details-icon">
                                    <span class="material-symbols-outlined">location_on</span>
                                    <span class="destination-text">{{ destination.location }}</span>
                                </div>
                            </div>

                            <!--<div class="destination-list-box-content-details-paragraph">
                                <p>Start From</p>
                                <div class="destination-list-box-content-details-icon-span">
                                    <span class="material-symbols-outlined">attach_money</span>
                                    <span class="destination-price" >30</span>
                                </div>
                            </div>-->
                        </div>
                    </div>
                <!--Destination Box End-->
                {% endfor %}
            </div>
        </div>


    {% include 'components/footer.html' %}
{% endblock %}