{% extends 'base.html' %}
{% block content %}
    {% include 'components/navbar.html' %}
    {% include 'components/notification.html' %}

        <div class="about-container-header">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716749985/Renaissance/4755_p1pfwr.jpg" alt="Renaissance Website Image">
            <div class="about-container-header-content">
                <div class="about-container-header-content-span reveal__top">
                    <span>Home</span>
                    <span class="material-symbols-outlined">chevron_right</span>
                    <span>Destination</span>
                </div>
                <h2 class="reveal__bottom">Explore <br><span class="color-scheme reveal__text">The Destination</span><br> With Us</h2>
            </div>
        </div>

        <div class="filter-section">
            <div class="filter-section-header">
                <h2 class="reveal__left">Find Out <span class="color-scheme reveal__text">The Best Travel Choice</span> in Africa</h4>
                <span class="secondary-text reveal__right">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</span>
            </div>

            <!--<div class="filter-button">
                <div class="filter-button-item active">Destination</div>
                <div class="filter-button-item">Accomodation</div>
                <div class="filter-button-item">Activity</div>
            </div>-->

            <div class="destination-list">
                <!--Destination Box Start-->
                {% for destination in destinations %}
                    <div class="destination-list-box">
                        {% if destination.file %}
                            <img src="https://res.cloudinary.com/renaissance-images/image/upload/{{ destination.file }}" alt="Renaissance Website Image">
                        {% endif %}
                        
                        <a href="{{ url_for('destination_details', id=destination.id, name=destination.title) }}" class="overlay-url">
                            <span class="span-text-btn">LEARN MORE</span>
                            &nbsp;&nbsp;
                        </a>
                        
                        <div class="destination-list-box-content">
                            <div class="destination-list-box-content-details">
                                <h4>{{ destination.country }}</h4>
                                <div class="destination-list-box-content-details-icon">
                                    <span class="material-symbols-outlined">location_on</span>
                                    <span class="destination-text">{{ destination.location }}</span>
                                </div>
                            </div>

                            <!--<div class="destination-list-box-content-details-paragraph">
                                <p>Start From</p>
                                <div class="destination-list-box-content-details-icon-span">
                                    <span class="material-symbols-outlined">attach_money</span>
                                    <span class="destination-price" >30</span>
                                </div>
                            </div>-->
                        </div>
                    </div>
                {% endfor %}
                <!--Destination Box End-->
            </div>
        </div>

        <div class="footer-banner">
            <img class="footer-banner-image" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716749986/Renaissance/1006_zbksfz.jpg" alt="Renaissance Website Image">
            <div class="footer-banner-content">
                <h3>Get Closer With Us & Get Special Promo</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                <a href="{{ url_for('contact') }}" class="button-container">
                    <span>CONTACT US</span>
                    <img class="button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                </a>
            </div>
        </div>
    
    {% include 'components/footer.html' %}
{% endblock %}