<div class="main-container">
	<div class="content-management-form">
		<form action="" method="POST" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
				<div class="content-form-grid-input">
					<span class="content-span-text">Destination</span>
					<input type="text" name="title" placeholder="Topic..." required>
				</div>

				<div class="content-form-flex-box">
					<div class="content-form-grid-input">
						<span class="content-span-text">Destination Cost</span>
						<input type="number" name="cost" placeholder="Destination Cost..." required>
					</div>

					<div class="content-form-grid-input">
						<span class="content-span-text">Location</span>
						<input type="text" name="location" placeholder="i.e Mombasa, Kenya" required>
					</div>
				</div>

				{{ form.content(class="form-control", rows="10") }}
				
				<div class="content-form-flex-box">
					<div class="content-form-grid-input">
						<span class="content-span-text">Destination Image</span>
						<input type="file" name="file" required>
					</div>

					<div class="content-form-grid-input">
						<span class="content-span-text">Alt Text</span>
						<input type="text" name="alt" placeholder="Image alt text i.e Renaissance blog article image">
					</div>

					<div class="content-form-grid-input">
						<input type="text" name="title_tag" placeholder="Content Title Tag" maxlength="60" required>
						<span class="counter">60&nbsp;&nbsp;|&nbsp;&nbsp;</span>
					</div>

					<div class="content-form-grid-input">
						<input type="text" name="url_link" placeholder="Link URL i.e Renaissance.com/topic..." maxlength="60" required>
						<span class="counter">60&nbsp;&nbsp;|&nbsp;&nbsp;</span>
					</div>

					<div class="content-textarea-box">
						<textarea type="text" name="meta_description" placeholder="Content Meta Description" maxlength="160" required></textarea>
						<span>160&nbsp;&nbsp;|&nbsp;&nbsp;</span>
					</div>

					<div class="content-textarea-box">
						<textarea type="text" name="keyword" placeholder="Content Keyword" maxlength="160"></textarea>
						<span>160&nbsp;&nbsp;|&nbsp;&nbsp;</span>
					</div>
				</div>

				<button class="form-footer-button" type="submit" name="submit">
					<span>CREATE BLOG ARTICLE</span>
					<img class="form-button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
				</button>
		</form>
		{{ ckeditor.load() }} {{ ckeditor.config(name='content') }}
	</div>
</div>