<div class="main-container">
	<div class="history-table">
		<div class="history-table-grid">
			<div>S/N</div>
			<div>Destination</div>
			<div>Date Posted</div>
			<div>Action</div>
		</div>
		{% for destination in destinations %}
			<div class="history-table-grid history-table-list">
				<div>{{ destination.id }}</div>
				<div>{{ destination.title }}</div>
				<div class="paid">{{ destination.date_posted }}</div>
				<div>
					<a href="{{ url_for('edit_destination', id=destination.id, title=destination.title) }}"><img src="https://res.cloudinary.com/renaissance-images/image/upload/v1717764520/Edit_1_nrqpn5.png" alt="Renaissance Website Image"></a>
					&nbsp;&nbsp;&nbsp;
					<a href="{{ url_for('delete_destination', id=destination.id, title=destination.title) }}"><img src="https://res.cloudinary.com/renaissance-images/image/upload/v1717764541/Delete_1_tuxnyb.png" alt="Renaissance Website Image"></a>
				</div>
			</div>
		{% endfor %}
	</div>
</div>