<div class="main-container">
	<div class="history-table">
		<div class="history-table-grid">
			<div>S/N</div>
			<div>Destination</div>
			<div>Status</div>
			<div>Amount</div>
		</div>

		{% for history in historys %}
			<div class="history-table-grid history-table-list">
				<div>{{ history.id }}.</div>
				<div>{{ history.destination_name }}</div>
				{% if  history.payment_status == True %}
					<div class="paid">Paid.</div>
				{% else %}
					<div class="pending">Pending.</div>
				{% endif %}
					<div>#{{ history.amount }}</div>
			</div>
		{% endfor %}
	</div>
</div>