<div class="main-container">

	<!-- Main Container Section -->
		<div class="main-content">
			{% if current_user.first_name %}
				{% for destination in destinations[0:1] %}
					<div class="main-banner-flex">
						<div class="main-banner">
							<span>Renaissance Tours Africa</span>

							<h1>Hi, {{ current_user.last_name }} {{ current_user.first_name }} <br> What we recommend for you.</h1>

							<p>{{ destination.content[0:200] | safe }}...</p>

							<a href="{{ url_for('destination_details', id=destination.id, name=destination.title) }}" class="button-container reveal__right">
								<span>LEARN MORE</span>
								<img class="button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
							</a>
						</div>

						<div class="main-content-image">
							<img src="https://res.cloudinary.com/renaissance-images/image/upload/{{ destination.file }}" alt="Renaissance Website Image">
						</div>
					</div>
				{% endfor %}

			{% else %}

				<div class="main-banner-flex">
					<div class="main-banner">
						<span>Renaissance Tours Africa</span>
						<h1>Dear User,</h1>
						<p>We kindly request you to update your contact information by clicking the button below.</p>
						
						<a href="{{ url_for ('update', id=current_user.id, name=current_user.email) }}" class="button-container reveal__right">
							<span>UPDATE PROFILE</span>
							<img class="button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
						</a>
					</div>
				</div>

			{% endif %}

			<div class="history-table">
				<div class="history-table-grid">
					<div>S/N</div>
					<div>Destination</div>
					<div>Status</div>
					<div>Amount</div>
				</div>
				{% for history in historys %}
					{% if current_user.id == history.poster_id %}
						<div class="history-table-grid history-table-list">
							<div>.</div>
							<div>{{ history.destination_name }}</div>
							{% if  history.payment_status == True %}
								<div class="paid">Paid.</div>
							{% else %}
								<div class="pending">Pending.</div>
							{% endif %}
							<div>#{{ history.amount }}</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	<!-- Main Container Section -->
</div>