{% extends 'base.html' %}
{% block content %}
    {% include 'components/navbar.html' %}
    {% include 'components/notification.html' %}
    {% include 'components/popup.html' %}

        <div class="landing-page">
            <div class="landing-page-container">
                <img class="renaissance-img active" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716561881/Renaissance/12415_k1natb.jpg" alt="Renaissance Website Image">

                <img class="renaissance-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716561876/Renaissance/12545_mzpwbj.jpg" alt="Renaissance Website Image">

                <img class="renaissance-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716561877/Renaissance/28022_ajqf40.jpg" alt="Renaissance Website Image">

                <img class="renaissance-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716561878/Renaissance/21670_kvbwqw.jpg" alt="Renaissance Website Image">
            </div>

            <div class="landing-page-content-background">
                <div class="landing-page-content">
                    <div class="landing-page-content-details">
                        <span class="span-text reveal__top">Feel The Experience</span>
                        <h1 class="reveal__left">Explore The <span class="color-scheme reveal__text">Majestic Africa</span> Landscape Now</h1>
                        <a href="{{ url_for('destination') }}" class="button-container reveal__right">
                            <span>GET STARTED</span>
                            <img class="button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                        </a>
                    </div>

                    <div class="landing-page-content-socials">
                        <div class="landing-page-content-socials-icon">
                            <li><a href=""><i class="bx bxl-facebook"></i></a></li>
                            <li><a href=""><i class="bx bxl-twitter"></i></a></li>
                            <li><a href=""><i class="bx bxl-instagram"></i></a></li>
                        </div>

                        <div class="landing-page-scroll-container reveal__bottom">
                            <span class="landing-page-vertical-text">Scroll</span>
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568416/Renaissance/arrow-down_evboiw.png" alt="Renaissance Website Image">
                        </div>
                        
                    </div>
                    
                </div>

                <div class="landing-page-footer">

                    <div class="landing-page-footer-box">
                        <i class='bx bx-time-five'></i>
                        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                    </div>

                    <div class="landing-page-footer-box">
                        <i class='bx bx-conversation'></i>
                        <span>Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut.</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="container-image-grid">
            <div class="image-grid-lg reveal__left">
                <div class="image-grid-lg-box">
                    <img class="grid-image" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716737899/Renaissance/10002_q1nc4u.jpg" alt="Renaissance Website Image">
                    <div class="image-grid-content">
                        <div class="image-grid-content-flip">
                            <div class="image-grid-content-details">
                                <h3>South Africa Kruger Part</h3>
                                <span class="destination-text">South Africa</span>
                            </div>

                            <img class="slant-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                        </div>
                    </div>
                </div>
            </div>

            <div class="image-grid-sm">
                <div class="image-grid-sm-box reveal__top">
                    <img class="grid-image" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716737787/Renaissance/18641_izyova.jpg" alt="Renaissance Website Image">
                    <div class="image-grid-content">
                        <div class="image-grid-content-flip">
                            <div class="image-grid-content-details">
                                <h3>South Africa Kruger Part</h3>
                                <span class="destination-text">South Africa</span>
                            </div>

                            <img class="slant-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                        </div>
                    </div>
                </div>

                <div class="image-grid-sm-box reveal__bottom">
                    <img class="grid-image" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716739415/Renaissance/23101_q0jtxd.jpg" alt="Renaissance Website Image">
                    <div class="image-grid-content">
                        <div class="image-grid-content-flip">
                            <div class="image-grid-content-details">
                                <h3>South Africa Kruger Part</h3>
                                <span class="destination-text">South Africa</span>
                            </div>

                            <img class="slant-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                        </div>
                    </div>
                </div>

                <div class="image-grid-sm-box reveal__bottom">
                    <img class="grid-image" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716739411/Renaissance/37605_e5yxhf.jpg" alt="Renaissance Website Image">
                    <div class="image-grid-content">
                        <div class="image-grid-content-flip">
                            <div class="image-grid-content-details">
                                <h3>South Africa Kruger Part</h3>
                                <span class="destination-text">South Africa</span>
                            </div>

                            <img class="slant-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vlog-section">
            <div class="vlog-section-container reveal__top">
                <h2>Experience The <span class="color-scheme reveal__text">New Adventure</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.</p>

                <div class="vlog-list">
                    <div class="vlog-list-box">
                        <div class="vlog-icon"><span class="material-symbols-outlined">shield</span></div>
                        <div class="vlog-content">
                            <h4>Safe Traveling</h4>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</span>
                        </div>
                    </div>

                    <div class="vlog-list-box">
                        <div class="vlog-icon"><span class="material-symbols-outlined">credit_score</span></div>
                        <div class="vlog-content">
                            <h4>Affordable Price</h4>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</span>
                        </div>
                    </div>

                    <div class="vlog-list-box">
                        <div class="vlog-icon"><span class="material-symbols-outlined">person_celebrate</span></div>
                        <div class="vlog-content">
                            <h4>Comfort Accommodation</h4>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vlog-image-container reveal__bottom">
                <img class="cover-image" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716561877/Renaissance/28022_ajqf40.jpg" alt="Renaissance Website Image">

                <div class="vlog-image-container-image">
                    <div class="vlog-image-container-image-position">
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716747652/Renaissance/2148137798_ehdwph.jpg">
                        <a href=""><span class="material-symbols-outlined">play_circle</span></a>
                    </div>
                </div>

                <div class="vlog-image-container-image">
                    <div class="vlog-image-container-image-position">
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716737786/Renaissance/4710_o76fcl.jpg">
                        <a href=""><span class="material-symbols-outlined">play_circle</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-section">
            <div class="about-section-header">
                <h2 class="reveal__interval__bottom">Begin Your <span class="color-scheme reveal__text">New Life</span> Experience With Exploring <span class="color-scheme reveal__text">New Destination</span></h2>
                <div class="about-section-header-detail">
                    <span class="reveal__interval__bottom">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</span>
                    <div class="about-button">
                        <a href="{{ url_for('about') }}" class="black-general-button-container reveal__interval__bottom">
                            <label>ABOUT US</label>
                            <img class="black-general-button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                        </a>
                        &nbsp;&nbsp;
                        <!--<a href="#" class="black-border-general-button-container reveal__interval__bottom">
                            <label>EXPLORE TRIP</label>
                            <img class="black-border-general-button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                        </a>-->
                    </div>
                </div>
            </div>

            <div class="grid-image-arangement">
                <img class="big-image reveal__top" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716774614/Renaissance/pexels-laker-5792656_tjhyqs.jpg" alt="Renaissance Website Image">
                <div class="grid-image-arangement-slim">
                    <img class="reveal__interval__bottom" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716774613/Renaissance/pexels-amir-h-bakhtiari-254523-8633857_pictnr.jpg" alt="Renaissance Website Image">
                    <img class="reveal__interval__bottom" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716737785/Renaissance/african-people-colorful-illustration-africa-day-concept-ai-generated_103740-2514_lhpvac.avif" alt="Renaissance Website Image">
                </div>
            </div>
        </div>

        <div class="landing-page-banner">
            <h2 class="reveal__top">Discover A Mesmerizing <span class="color-scheme reveal__text">Nature Landscape</span> & Stunning Culture</h2>
            <div class="landing-page-banner-detail">
                <p class="reveal__interval__bottom">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                <a href="{{ url_for('destination') }}" class="general-button-container reveal__interval__bottom">
                    <span>EXPLORE AFRICA WITH RENAISSANCE</span>
                    <img class="general-button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                </a>
            </div>
        </div>

        <div class="image-grid-gallery">
            <div class="image-grid-gallery-container">
                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1717231616/Renaissance/elephant-walking-land-seen-through-car-window_1048944-6807028_u1msf4.jpg" alt="Renaissance Website Image">
                <div class="image-grid-gallery-container-content active">
                    <h2>Nigeria</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <div class="image-grid-gallery-container">
                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1717231617/Renaissance/beautiful-woman-with-backpack-smiling-holding-binoculars_176420-4266_x8ashu.jpg" alt="Renaissance Website Image">
                <div class="image-grid-gallery-container-content">
                    <h2>Nigeria</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <div class="image-grid-gallery-container">
                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1717231617/Renaissance/traveling-with-off-road-car_23-2151473085_qgbo8m.jpg" alt="Renaissance Website Image">
                <div class="image-grid-gallery-container-content">
                    <h2>Nigeria</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <div class="image-grid-gallery-container">
                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1717231616/Renaissance/photo-safari-animals_762785-102846_jt0hlb.jpg" alt="Renaissance Website Image">
                <div class="image-grid-gallery-container-content">
                    <h2>Nigeria</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <div class="image-grid-gallery-container">
                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1717231616/Renaissance/portrait-unrecognizable-young-african-man-black-hipster-hat-standing-sightseeing-platform-admiring-sea-beautiful-resort-town-pointing-his-finger-faraway-places-he-s-going-visit_273609-792_czllwz.jpg" alt="Renaissance Website Image">
                <div class="image-grid-gallery-container-content">
                    <h2>Nigeria</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <div class="image-grid-gallery-container">
                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1717231616/Renaissance/tourists-safari-jeep-shooting-one-male-lion-lying-near-road_662214-225517_pibzvq.jpg" alt="Renaissance Website Image">
                <div class="image-grid-gallery-container-content">
                    <h2>Nigeria</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>

        <div class="video-blog">
            <div class="video-blog-header">
                <h2 class="reveal__left">Enjoy Our Best Quality <span class="color-scheme reveal__text">Tour & Experience</span></h2>
                <div class="video-blog-header-detail">
                    <p class="reveal__right">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
                </div>
            </div>

            <div class="drop-down-content">
                <div class="drop-down-content-container">
                    <div class="drop-down-content-container-box">
                        <div class="drop-down-content-container-box-header">
                            <h5>1. What to prepare trip to Africa</h5>
                            <div class="drop-down-btn active"><span class="material-symbols-outlined">keyboard_arrow_down</span></div>
                            <div class="drop-down-btn"><span class="material-symbols-outlined">keyboard_arrow_up</span></div>
                        </div>
                        <div class="liner-bar"></div>
                        <div class="drop-down-content-container-box-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
                    </div>

                    <div class="drop-down-content-container-box">
                        <div class="drop-down-content-container-box-header">
                            <h5>2. What document you need before go to Africa</h5>
                            <div class="drop-down-btn active"><span class="material-symbols-outlined">keyboard_arrow_down</span></div>
                            <div class="drop-down-btn"><span class="material-symbols-outlined">keyboard_arrow_up</span></div>
                        </div>
                        <div class="liner-bar"></div>
                        <div class="drop-down-content-container-box-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
                    </div>

                    <div class="drop-down-content-container-box">
                        <div class="drop-down-content-container-box-header">
                            <h5>3. How to scheduling Africa trip itinerary</h5>
                            <div class="drop-down-btn active"><span class="material-symbols-outlined">keyboard_arrow_down</span></div>
                            <div class="drop-down-btn"><span class="material-symbols-outlined">keyboard_arrow_up</span></div>
                        </div>
                        <div class="liner-bar"></div>
                        <div class="drop-down-content-container-box-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
                    </div>

                    <div class="drop-down-content-container-box">
                        <div class="drop-down-content-container-box-header">
                            <h5>4. 8 Website must read before your trip</h5>
                            <div class="drop-down-btn active"><span class="material-symbols-outlined">keyboard_arrow_down</span></div>
                            <div class="drop-down-btn"><span class="material-symbols-outlined">keyboard_arrow_up</span></div>
                        </div>
                        <div class="liner-bar"></div>
                        <div class="drop-down-content-container-box-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
                    </div>

                    <div class="drop-down-content-container-box">
                        <div class="drop-down-content-container-box-header">
                            <h5>5. This is the best budget you need to prepare</h5>
                            <div class="drop-down-btn active"><span class="material-symbols-outlined">keyboard_arrow_down</span></div>
                            <div class="drop-down-btn"><span class="material-symbols-outlined">keyboard_arrow_up</span></div>
                        </div>
                        <div class="liner-bar"></div>
                        <div class="drop-down-content-container-box-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
                    </div>

                    <div class="drop-down-content-container-box">
                        <div class="drop-down-content-container-box-header">
                            <h5>6. This site give you the information about travel to Africa</h5>
                            <div class="drop-down-btn active"><span class="material-symbols-outlined">keyboard_arrow_down</span></div>
                            <div class="drop-down-btn"><span class="material-symbols-outlined">keyboard_arrow_up</span></div>
                        </div>
                        <div class="liner-bar"></div>
                        <div class="drop-down-content-container-box-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
                    </div>
                </div>
                
            </div>

            <div class="video-blog-video-container">
                <video src="https://res.cloudinary.com/quinn-daisies/video/upload/v1716768587/Renaissance/3326781-hd_1920_1080_24fps_in8wlw.mp4" autoplay muted loop></video>
            </div>
        </div>

        <div class="blog-section">
            <div class="blog-section-container">
                <div class="blog-section-container-header">
                    <h3 class="reveal__top">Read Our Latest <span class="color-scheme reveal__text">Travel Blog & Tips</span> Here</h3>
                    <p class="reveal__bottom">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et.</p>
                </div>

                <div class="blog-section-image">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716749985/Renaissance/4755_p1pfwr.jpg" alt="Renaissance Website Image">
                    <div class="blog-section-image-content">
                        <h4>Tropical Bliss: Rejuvenate in Africa’s Idyllic Beaches</h4>
                        <a href="">
                            <span class="text-content">Read More</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="blog-list">
                <div class="blog-list-box">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716561877/Renaissance/28022_ajqf40.jpg" alt="Renaissance Website Image">
                    <div class="blog-list-box-details">
                        <h4>Africa’s Thrilling Adventures: Hiking, Trekking, and More</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et.</p>
                        <a href="">
                            <span class="text-content">Read More</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </a>
                    </div>
                </div>

                <div class="blog-list-box">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716561876/Renaissance/12545_mzpwbj.jpg" alt="Renaissance Website Image">
                    <div class="blog-list-box-details">
                        <h4>Africa’s Thrilling Adventures: Hiking, Trekking, and More</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et.</p>
                        <a href="">
                            <span class="text-content">Read More</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </a>
                    </div>
                </div>

                <div class="blog-list-box">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716561878/Renaissance/21670_kvbwqw.jpg" alt="Renaissance Website Image">
                    <div class="blog-list-box-details">
                        <h4>Africa’s Thrilling Adventures: Hiking, Trekking, and More</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et.</p>
                        <a href="">
                            <span class="text-content">Read More</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-banner">
            <img class="footer-banner-image" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716749986/Renaissance/1006_zbksfz.jpg" alt="Renaissance Website Image">
            <div class="footer-banner-content">
                <h3>Get Closer With Us & Get Special Promo</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                <a href="{{ url_for('contact') }}" class="button-container">
                    <span>CONTACT US</span>
                    <img class="button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                </a>
            </div>
        </div>
    
    {% include 'components/footer.html' %}
{% endblock %}