<footer>
	<div class="footer-container">
		<div class="footer-list">
			<div class="logo">
				<img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716552296/Renaissance/Artboard_10_xyfbru.jpg" alt="Renaissance Website Image" class="imageshadow">
			</div>

			<div class="footer-list-container">
				<h2>Badung, Bali — Jl. Desa Sawangan, No. 11 Nusa Dua, 81566 </h2>
				<div class="footer-list-container-social-link">
					<li>
						<a href=""><i class='bx bxl-facebook-circle'></i></i></a>
					</li>
					&nbsp;&nbsp;
					<li>
						<a href=""><i class='bx bxl-twitter' ></i></a>
					</li>
					&nbsp;&nbsp;
					<li>
						<a href=""><i class='bx bxl-instagram-alt' ></i></a>
					</li>
				</div>
			</div>
		</div>

		<div class="footer-list">
			<h2>Pages</h2>
			<div class="footer-list-container">
				<li>
					<a href="">About Us</a>
				</li>

				<li>
					<a href="">FAQ</a>
				</li>

				<li>
					<a href="">Contact Us</a>
				</li>

				<li>
					<a href=" {{ url_for ('login') }} ">Login Account</a>
				</li>
			</div>
		</div>

		<div class="footer-list">
			<h2>Important Link</h2>
			<div class="footer-list-container">
				<li>
					<a href="">Privacy Policy</a>
				</li>

				<li>
					<a href="">Blog</a>
				</li>

				<li>
					<a href="">Term & Condition</a>
				</li>
			</div>
		</div>

		<div class="footer-list">
			<h2>Our Newsletter</h2>
			<div class="footer-list-container">
				<form>
					<input type="" name="" placeholder="Your Email">
					<button type="submit" name="submit">SIGN UP</button>
				</form>
			</div>
		</div>
	</div>

	<span>Copyright &copy; Renaissance 2024</span>

</footer>
