
    <div class="newsletter-popup">
        <div class="newsletter-popup-container">
            <div class="newsletter-image-container">
                <img class="newsletter-background-image" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716737785/Renaissance/african-people-colorful-illustration-africa-day-concept-ai-generated_103740-2514_lhpvac.avif" alt="Renaissance Website Image">

                <div class="newsletter-content">
                    <div class="newsletter-content-flex">
                        <h2>Subscribe to Our Newsletter</h2>
                        <div class="popup-newsletter-close">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1717002480/Renaissance/Close_Window_s2goh7.png" alt="Renaissance Website Image">
                        </div>
                    </div>
                    <h3 class="reveal__bottom">Renaissance Tours Africa</h3>
                    <div class="popup-liner"></div>
                    <p>Stay informed with the latest updates, exclusive offers, and insights from Renaissance Tours Africa. Join our community today and never miss out on our exciting tours and travel news.</p>
                    <form>
                        <input type="text" name="email" placeholder="Your Email">
                        <button class="subscription-button-container button" type="submit" name="submit">
                            <span>SIGN UP</span>
                            <img class="subscription-button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
